# 节点配置片段包含一些节点配置信息；可通过资源引用的方式使用。
# 片段文件将保存在 Quantumult X 目录下的 Profiles 子目录中。
# 样例可参见 https://raw.githubusercontent.com/crossutility/Quantumult-X/master/server-complete.snippet
 
 
 
;shadowsocks=example.com:80, method=chacha20, password=pwd, obfs=http, obfs-host=bing.com, obfs-uri=/resource/file, fast-open=false, udp-relay=false, server_check_url=http://www.apple.com/generate_204, tag=ss-01
http=music.lolico.me:39000, fast-open=false, udp-relay=false, tag=解锁网易云节点1
http=block4music.poetyin.me:39000, fast-open=false, udp-relay=false, tag=解锁网易云节点2
shadowsocks=blockmusic.poetyin.me:30003, method=aes-128-gcm, password=desperadoj.com_free_proxy_emx2, fast-open=false, udp-relay=false, tag=解锁网易云节点3
shadowsocks=music.desperadoj.com:30001, method=aes-128-gcm, password=desperadoj.com_free_proxy_emx2, fast-open=false, udp-relay=false, tag=解锁网易云节点4
shadowsocks=music.desperadoj.com:30003, method=aes-128-gcm, password=desperadoj.com_free_proxy_emx2, fast-open=false, udp-relay=false, tag=解锁网易云节点5

http= 47.96.134.135:22,overtls=false,fast-open=false,udp-relay=false,tag=NeteaseMusic❤️

http=95.179.198.172:19980,overtls=false,fast-open=false,udp-relay=false,tag=NeteaseMusic🎵

http=111.67.197.245:10086, username=, password=, fast-open=false, udp-relay=false, tag=网易云
